<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ .building.Name }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<header>
    <div class="header-container">
        <div class="header-left">
            <a href="/buildings">Домой</a>
        </div>
        <div class="header-right">
            <a href="/donate/{{ .building.ID }}">Помочь</a>
        </div>
    </div>
</header>

<div class="container">

    <h1 class="service-title">{{ .building.Name }}</h1>
    <h2 class="service-subtitle">{{ .building.Address }}</h2>


    {{ $video := "" }}
    {{ range .building.Resources }}
    {{ if and (eq $video "") (eq .ResourceType "video") }}
    {{ $video = .URL }}
    {{ end }}
    {{ end }}
    {{ if $video }}
    <video class="service-video" autoplay muted loop controls>
        <source src="{{ $video }}" type="video/mp4">
        Ваш браузер не поддерживает видео.
    </video>
    {{ end }}


    {{ $photo := "" }}
    {{ range .building.Resources }}
    {{ if and (eq $photo "") (eq .ResourceType "photo") }}
    {{ $photo = .URL }}
    {{ end }}
    {{ end }}
    {{ if $photo }}
    <img class="service-image" src="{{ $photo }}" alt="{{ .building.Name }}">
    {{ end }}

    <p class="service-description">
        {{ .building.Description }}
    </p>

</div>

<div class="donation-btn-container">
    <a href="/donate/{{ .building.ID }}" class="donation-btn">
        Помочь объекту
    </a>
    <form action="/order/delete/{{ (index .building.ReconstructionOrders 0).ID }}?building_id={{ .building.ID }}" method="POST" style="display:inline;">
        <button type="submit" class="donation-btn delete-btn">
            Удалить заявку
        </button>
    </form>
</div>

<footer>
    <div class="footer-column">
        <p>© 2025 Фонд «Наследие Нации»</p>
    </div>
</footer>

</body>
</html>